.conteiner {
  margin: 0 auto;
  width: 1300px;
}

.header {
  background: #f7ede8;
  .header__nav {
    display: flex;
    margin-top: 24px;
    align-items: center;
    justify-content: space-around;
  }
  .header__nav-list {
    display: flex;
    margin-right: 200px;
  }

  a {
    text-decoration: none;
    color: var(--black, #000);
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 22px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .header__nav-item {
    margin-left: 60px;
    list-style: none;
  }

  .button-1 {
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #000;
    background-color: #f7ede8;
  }
  .button-2 {
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--black, #000);
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    margin-left: 20px;
  }
  .button-2 a {
    color: white;
  }
  h1 {
    color: var(--black, #000);
    text-align: center;
    margin-top: 162px;
    font-family: Montserrat Alternates;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -3.84px;
  }
  h1 span {
    color: var(--vermillion, #cd4631);
    font-family: Montserrat Alternates;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -3.84px;
  }
  .header__hero-text {
    color: var(--davys-grey, #4d4d4d);
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    padding: 100px;
  }
  .header__left-img {
    position: absolute;
    margin-top: -500px;
  }
  .header__right-img {
    position: absolute;
    margin-left: 1239px;
    margin-top: -350px;
  }
  input {
    position: absolute;
    display: flex;
    width: 570px;
    padding: 24px 0px 24px 40px;
    align-items: center;
    gap: 24px;
    margin-left: 420px;
    border-radius: 16px;
    border: 1.5px solid var(--black, #000);
    background: #fff;
    box-shadow: 6px 6px 0px 0px #81adc8;
    margin-top: -30px;
  }
}
main {
  .title {
    color: var(--black, #000);
    text-align: center;

    font-family: Montserrat Alternates;
    font-size: 59.3px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.186px;
    margin-top: 141px;
  }
  .h2-img {
    margin-top: -60px;
    line-height: 140%;
    letter-spacing: -0.453px;
    margin-left: -600px;
    margin-bottom: -120px;
  }
  .main__list {
    display: flex;
    list-style: none;
    margin-top: 80px;
  }
  .main__list-item a {
    text-decoration: none;
    color: var(--davys-grey, #4d4d4d);
    margin-left: 100px;
    font-family: Montserrat Alternates;
    font-size: 22.65px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
  }
  a span {
    color: #cd4631;
    font-weight: 700;
    line-height: 140%;
  }
  .hr-1 {
    width: 1160px;
    height: 0px;
    flex-shrink: 0;
    stroke-width: 1.5px;
    stroke: var(--davys-grey, #4d4d4d);
  }
  .podcast__text h3 {
    width: 538px;
    color: var(--davys-grey, #4d4d4d);
    font-family: Montserrat Alternates;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
  }
  .podcast__text h2 {
    width: 538px;
    height: 37px;
    color: var(--vermillion, #cd4631);
    font-family: Montserrat Alternates;
    font-size: 36.65px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.733px;
  }
  .podcast__text p {
    width: 538px;
    color: var(--davys-grey, #4d4d4d);
    font-family: Montserrat Alternates;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
  }
  .button-1 {
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid var(--davys-grey, #4d4d4d);
  }
  .button-1 a {
    text-decoration: none;
    color: var(--davys-grey, #4d4d4d);
    font-family: Montserrat Alternates;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
  }
  .podcast button {
    margin-right: 6px;
  }

  .podcast__button {
    display: flex;
  }
  .button-2 {
    color: var(--davys-grey, #4d4d4d);
    font-family: Montserrat Alternates;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
  }
  .button-2 a {
    text-decoration: none;
    color: var(--davys-grey, #4d4d4d);
    font-family: Montserrat Alternates;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
  }
  .button-3 {
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid var(--davys-grey, #4d4d4d);
  }
  .button-3 a {
    text-decoration: none;
    color: var(--davys-grey, #4d4d4d);
    font-family: Montserrat Alternates;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
  }
  .hr-2 {
    width: 538px;
    height: 0px;
    stroke-width: 0.5px;
    stroke: var(--davys-grey, #4d4d4d);
  }
  .podcast {
    margin-top: 100px;
    margin-left: 90px;
    width: 540px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;

    border-radius: 8px;
    border: 2px solid var(--black, #000);
    background: #fff;
    box-shadow: 10px 10px 0px 0px #000;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1px;
  }
}
